.chat
{
    padding: 20px;
    flex: 2 !important;
    height: 100%;
    /* width: 800px; */
}

.top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.user
{
    display: flex;
    align-items: center;
    gap:20px;
}

.user img
{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-texts 
{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
}

.user-texts span
{
    font-weight: 800;
    font-size: 31px;
    color: #4F5DFC;
    font-family: sans-serif;
    font-style: normal;
}

.user-texts p
{
    font-weight: 300;
    font-size: 14px;
    margin-top: -1px;
    font-family: sans-serif;
    color: #0CCC36;
    font-style: normal;
}

.bottom
{
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content:space-between;
    border-top: 1px solid #dddddd35;
    width: 100%;
}

.bottom-icons
{
    display: flex;
    gap: 20px;
}

.bottom-icons img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.emoji img
{
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.bottom input
{
flex: 1;
background-color: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
outline: none;
border: none;
padding: 15px;
width: 400px;
font-size: 16px;
}

.sendButton
{
    background-color: #808080A8;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


















