/* .list
{
    flex: 1 !important;
    display: flex;
    flex-direction: column;
} */
.list
{
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    /* background-color: red; */
}

