.detail
{
    flex:1;
    /* background-color:rgb(185, 236, 237); */
}

.detail-user
{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-user-image
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 2px solid blue; */
}

.detail-user h2
{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
/* line-height: 34px; */
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.detail-info
{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.detail-span
{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
}

.photos
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.photoItem
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photoDetail 
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.photoDetail img
{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.photoDetail span
{
    font-size: 14px;
    color:#777474;
}

.download-icon
{
    cursor: pointer;
}
.buttonClass
{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-button
{
    padding: 10px 20px;
    background-color: rgba(230,74,105);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.block-button:hover
{
    background-color: rgba(230, 74, 105, 0.842);
}

.logout-btn
{
    padding: 10px 20px;
    background-color: #573DF2;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover
{
    background-color: #583df2d7;
}
