.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.home-left-side
{
    background-color: red;
    flex: 1;
    max-width: 50%;
    padding: 10px;
}

.home-container p
{
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.675rem; 
    color: rgba(0, 0, 0, 0.58);
    max-width: 100%; 
    width:1300px;
}

.home-right-side
{
    background-color: blue;
    flex: 1;
    max-width: 50%;
    padding: 10px;
    
}

.grey-div {
    background-color: green;
    height: 100%;
    border-radius: 0px 0px 0px 38.05px;
    position: absolute;
    top: 0;
}

.first {
    width: 218px; /* Adjust the width as needed */
    background: rgba(217, 217, 217, 0.79);
    z-index: -1;
}

.second {
    right: 0;
    width: 228px; /* Adjust the width as needed */
    background: rgba(217, 217, 217, 0.79);
    z-index: -1;
}

.main-house-svg
{
    margin-top: 40px;
    height: 80%;
    z-index: 1; 
    position: relative;
}





