.login-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;
}

.container {
  max-width: 100%;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 12px 12px 22px grey;
}

.col-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container for the right side content */
.col-right {
    padding: 3rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header text styling */
.header-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
    font-family: sans-serif;

}

/* Subheader text styling */
.col-right h4 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    font-family: sans-serif;

}

/* Form group styling */
.form-group {
    margin-bottom: 1.5rem;
}

/* Input fields styling */
.form-control {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
}

/* Button styling */
.btn {
    background-color: #3498db;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #2980b9;
}

/* Signup container */
.signup-container {
    text-align: center;
    margin-top: 1rem;
}

/* Signup message */
.signup-container .message {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

/* Signup button */
.signup-container .signup-button {
    background-color: #2ecc71;
    color: white;
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.signup-container .signup-button:hover {
    background-color: #27ae60;
}

/* Error messages */
.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: block;
}

