*
{
  box-sizing: border-box;
}
  body
  {
   margin:0;
   padding:0;
   overflow-y: hidden;
  }
  
  .app-container
  {
    display: flex;
  }

  .main-content
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }